/**task2*/
div {
    width: 400px;
    margin: auto;
    background-color: #eee;
    padding: 20px;
    border:2px solid;
    border-color: red #38acf5;
    position: relative;
}
.top-left {
    color: white;
    background-color: #38acf5;
    padding: 0 10px;
    border-right: solid 2px red;
    position: absolute;
    top: -7px;
    left: -15px;
}

.bottom-left {
    color: white;
    background-color: #38acf5;
    padding: 0 10px;
    border-right: solid 2px red;
    position: absolute;
    bottom: -10px;
    left: -15px;
}

.top-right {
    color: white;
    background-color: #38acf5;
    padding: 0 10px;
    border-left: solid 2px red;
    position: absolute;
    top: -7px;
    right: -15px;
}

.bottom-right {
    color: white;
    background-color: #38acf5;
    padding: 0 10px;
    border-left: solid 2px red;
    position: absolute;
    bottom: -7px;
    right: -15px;
}