/** Task 1*/
div{
    display:inline-block;
    padding:15px;
    margin: 5px;
    background-color: #dcdcdc;
    outline:5px solid black;
}
.shape1{
    border:5px red solid;
}
.shape2{
    border-width:5px;
    border-color:blue green;

    border-style:solid;
}
.shape3{
    border-width:5px;
    border-color: red green blue yellow;
    border-style:dashed;
}

/**task 2*/
.element{
    width:400px;
    background-color: #eceded;
    padding: 10px;
    margin: 10px;
}
.element-1{
    border-left: red solid 5px;
    outline: 8px solid #eceded;
}
.element-2 {
    visibility: hidden;
}
.element-3 {
    border-left:5px solid green ;
    outline:8px solid #eceded;
}