* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}
.child{
    margin-right: 10px;
    font-size: 30px;
    padding: 10px;
    text-align: right;
}


.parent:first-child div:last-child {
    color: red;
    font-weight: bold;
}
