/**task4*/
p {
    background-color: #eee;
    margin: 10px 20px;
    padding: 10px;
    width: 80%;
    text-transform: capitalize;
    counter-increment: num-count;
    /* border-right: 5px solid red; */
    position: relative;
    left: 22px;
}
p::before {
    content: counter(num-count);
    padding:10px 15px ;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0;
    left: -30px;
    
}
p::after {
    content: "";
    background-color: red;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0px;
}
