* {
    font-family: sans-serif;
}
/**task 1*/
div.task1 {
    text-transform: capitalize;
    text-shadow: 1px 1px  red, 2px 2px  blue,3px 3px  purple;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

/**task 2*/
p{
    width: 400px;
    line-height: 10px;
    font-size: 20px;
}
.one {
    text-transform: uppercase;
}
.two {
    text-transform: capitalize;
    margin: 20px;
}
.three {
    text-transform: lowercase;
    margin: 20px;
}

/**task3*/
.task3 {
    width: 400px;
    background-color: #dcdcdc;
    padding: 20px;
    margin: 10px;
}
.t3two,
.t3three{
    white-space: nowrap;
    overflow:hidden;
}
.t3three {
    text-overflow: ellipsis;
}

/**task4*/
a {
    display: block;
    width:200px;
    margin:10px auto;
    padding: 20px;
    border-bottom: 10px solid #1d3f33;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    background-color: #449377;
    color: white;
}