/**task1*/
div {
    width: 100px;
    height: 100px;
    float: left;
    position: absolute;
}

.green {
    background-color: green;
    z-index: 8;
    top: 30px;
    left: 30px;
}

.red {
    background-color: red;
    z-index: 10;
    top: 40px;
    left: 40px;
}

.blue {
    background-color: blue;
    top: 20px;
    left: 20px;
}

.black {
    background-color: black;
    z-index: -1;
    top: 30px;
    left: 20px;
}