/**task1*/
div {
    font-family: sans-serif;
    display: inline-block;
    background-color: #eee;
    width: 100px;
    height: 100px;
    padding:15px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 5px 5px #2281d9 ,
                -5px -5px red;
    position: relative;
    counter-increment: count;
}
div::before {
    content: counter(count);
    background-color: #000;
    font-weight: bold;
    color: #fff;
    padding: 1px 7px;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    left: 50px;

}
div::after {
    content: 'Element';
    position: absolute;
    left: 39px;
    top: 47px;
    font-weight: bold; 
} 
