/**task1 */
.parent {
    width: 800px;
    /* width: 1000px; */
    background-color: #eee;
    padding:0;
}
.child {
    display: inline-block;
    margin: 15px;
    padding: 15px;
    background-color: #dad9d990;
    text-align: center;
}
.chf {
    width: calc(100% - 60px);
}
.ch3 {
    width: calc((100% - 188px) / 3);
}
.ch2 {
    width: calc((100% - 125px) / 2 );
}
.ch4 {
    width: calc((100% - 255px) / 4);
}

/** task2 */
.normal, 
.two,
.one {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #bbb;
    color: black;
}
.one {
    background-color: rgba(187, 187, 187 ,.1);
}
.two {
    opacity: 0.1;
}