
/**task4*/
img {
    width: 50px;
}
table {
    width: 700px;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid darkgreen;
}
th {
    background-color: black;
    color: white;
    padding: 10px;

}
td {
    background-color: #eee;
}
a {
    text-decoration: none;
    font-size: smaller;
}
a.view {
    background-color:deepskyblue;
    color: white;
    padding: 2px 5px;
}
a.delete {
    background-color:crimson;
    color: white;
    padding: 2px 5px;
}
