* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

div , p{
    margin-right: 50px;
    font-size: 2rem;
    padding: 10px;
    text-align: right;
}

div.main.red {
    color: red;
    font-weight: bold;
}